<h1>Rails Overflow</h1>

<% @questions.each do |question| %>
  <h2><%= question.prompt %></h2>
  <%= question.description %>
<% end %>
<div>
  <%= link_to 'Log In', login_path  %>
  <%= link_to 'Sign Up', new_user_path %>
</div>
